* {
	margin: 0 auto;
	font-family: Monospace;
}

.login__card {
	padding: 10px;
	border: 2px solid "#999";
	border-radius: 5px;
	background-color: white;
	width: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
}
#h {
	margin: 20px 0;
	text-align: center;
}

#inp {
	padding: 5px;
	width: 187px;
	margin: 10px 0;
}

.login_b {
	background-color: #5555ee;
	border: none;
	border-radius: 5px;
	padding: 5px;
	width: 200px;
	color: white;
}
.login_b:hover {
	background-color: #4444bb;
	cursor: pointer;
}
#log {
	width: 100%;
	text-align: center;
}
